@charset "UTF-8";

:root{
	--color-1:  #304674;
	--color-2: #98bad5;
	--color-3: #b2cbde;
	--color-4: #c6d3e3;
	--color-5: #d8e1e8;
  --white: #ffffff;
}





.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: var(--color-1);
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 10px 16px;
  height: 100px;
}

/*********************************** Form Section *****************************************/

form{
	padding: 20px;
	width: 35%;
	height: 100%;
	margin: 3% auto;
	background-color: var(--white);
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.btn {
	background-color: var(--color-4);
	color: var(--white);
}

form a {
	display: block;
	text-align: center;
	text-decoration: underline;
	margin: 1rem;
}

/*********************************** Home Section *****************************************/

.home-header {
	background-color: var(--color-5);
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.home-section a {
	height: 13vmax;
	color: black;
	text-decoration: none;
	font-size: 1.2rem;
	background-color: var(--color-2);
	border-radius: 10px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.home-section a:hover {
	background-color: var(--color-1);
}

.home-icon {
	width: 3vmax;
	height: 3vmax;
}

/*********************************** Fee Section *****************************************/

.input-section {
	width: 80%;
	margin: 10px auto;
	padding: 10px;
}

.input-section label {
	width: 10vmax;
	margin: 10px 20px
	}
	
.submit-btn {
	width: 15vmax;
	margin: auto;
	padding: 10px;
}

.submit-btn button {
	width: 100%;
	padding: 10px;
	background-color: var(--color-2);
}

.submit-btn button:hover{
	background-color: var(--color-3);
	color: whitesmoke;
}

/*********************************** Search Section *****************************************/

.search-section {
	width: 50%;
	margin: 10px auto;
	padding: 10px;
	display: flex;
	justify-content: space-around;
}

.print-btn {
	width: 15vmax;
	margin: auto;
	padding: 10px;
}

.print-btn button {
	width: 100%;
	padding: 10px;
	background-color: var(--color-2);
}

.print-btn button:hover{
	background-color: var(--color-3);
	color: whitesmoke;
}

/*********************************** Report Section *****************************************/

.report-input {
	width: 80%;
	margin: 5px auto;
	padding: 10px;
}

.report-input label {
	width: 10vmax;
	margin: 10px 20px
}

.report-input input {
	width: 8vmax;
}