<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="../static/css/layout.css" th:href="@{/css/Layout.css}" rel="stylesheet" />

<title>Home Page</title>
</head>
<body>
<div>
	<div class="home-header h-25 w-100 border boder-bottom border-dark text-center p-4">
		<h1>ABC College</h1>
		<h2>Username</h2>
		<h3>Branch of College</h3>
	</div>
	<div class="home-section h-75 w-100 p-5 row justify-content-around text-center" >
		<a class="border p-5 mx-2 my-4 col-3">
			<img class="home-icon m-3" th:src="@{/img/home/add-icon.svg}" />
			Add Fees</a>
		<a class="border p-5 mx-2 my-4 col-3">
			<img class="home-icon m-3" th:src="@{/img/home/search.svg}" />
			Search Record</a>
		<a class="border p-5 mx-2 my-4 col-3">
			<img class="home-icon m-3" th:src="@{/img/home/view-record.svg}" />
			View All Records</a>
		<a class="border p-5 mx-2 my-4 col-3">
			<img class="home-icon m-3" th:src="@{/img/home/edit.svg}" />
			Edit Course</a>
		<a class="border p-5 mx-2 my-4 col-3">
			<img class="home-icon m-3" th:src="@{/img/home/view-courses.svg}" />
			View Courses</a> 
		<a class="border p-5 mx-2 my-4 col-3">
			<img class="home-icon m-3" th:src="@{/img/home/view-report.svg}" />
		    View Report</a>
	</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>