<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="../static/css/layout.css" th:href="@{/css/Layout.css}" rel="stylesheet" />
<title>Insert title here</title>
</head>
<body>
<div th:replace="~{fragments :: header}"></div>
<div class="content">
	<div id="search">
		<h1 class="py-4 px-4 border-bottom">Search Record</h1>
		<form th:action="@{/search}" th:object="${fee}" class="fw-bold py-4">
			<div class="search-section">
			<label>Enter Receipt No.</label>
			<input type="search" field="*{keyword}" th:value="${keyword}" name="keyword" />
			<button type="submit">Search</button>
		</div>
		</form>
		
		<div class="fw-bold">
		<div class="input-section">
			<label>Receipt No.</label>
			<label th:text="${fee?.receiptNo}" class="text-light-emphasis fw-medium"></label>
		</div>
		
		<div class="input-section">
			<label>Payment Mode</label>
			<label th:text="${fee?.paymentMode}" class="text-light-emphasis fw-medium"></label>
		</div>
		
		<div class="input-section">
			<label>Date</label>
			<label th:text="${fee?.date}" class="text-light-emphasis fw-medium"></label>
		</div>
		
		<div class="input-section">
			<label>Sender</label>
			<label th:text="${fee?.studName}" class="text-light-emphasis fw-medium"></label>
		</div>
		
		<div class="input-section">
			<label>Course</label>
			<label th:text="${fee?.course}" class="text-light-emphasis fw-medium"></label>
		</div>
		
		<div class="input-section">
			<label>Payment Year</label>
			<label th:text="${fee?.paymentYearFrom}" class="text-light-emphasis fw-medium"/> - <label th:text="${fee?.paymentYearTo}" class="text-light-emphasis fw-medium" />
		</div>
		
		</div>
		
		<div class="print-btn">
			<button>Print</button>
		</div>
	</div>
</div>
</body>
</html>